<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="InputFolderPath" value="D:\UTILITY\dbo" />
    <add key="validEncodingtype" value="utf-8,utf-16"/>
    <!-- Path for Update in ITR_File FilePath -->
    <add key="logFilePath" value="D:\log.txt" />
  </appSettings>
</configuration>